.nav-bar-btn{
    width: 28px;
    height: 28px;
    color: #3d2514;
    display: none;
}

.nav-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .3);
    display: none;
    animation: fadeIn linear 0.5s;
}

.nav-mobile{
    position: fixed;
    top: 0;
    right: 55%;
    bottom: 0;
    width: 190px;
    max-width: 100%;
    z-index: -1;
    background-color: #fff;
    align-items: center;
    text-align: center;
    opacity: 0;
    transform: translateX(200%);
    transition: transform linear .5s;
}

.nav-input{
    display: none;
}

.close-mb{
    width: 20px;
    height: 20px;
    font-size: 1.4rem;
    color: rgb(119, 118, 118);
    position: absolute;
    top: 3.7rem;
    right: 2rem;
}

.hotline-mb{
    margin-top: 80px;
    font-size: 12px;
    border: 1px solid #3d2514;
    border-left: 0px;
    width: 100%;
    height: 10%;
    padding-top: 10px;
}

.hotline-mb img{
    width: 10%;
}

.navbar-mb a{
    text-decoration: none;
    color: #3d2514;
    display: block;
    padding: 16px 0;
    font-size: 1.4rem;
    border: 1px solid #3d2514;
    border-left: 0px;
}

/* Mobile css */
@media only screen and (max-width: 425px) {

    html{
        overflow-x:hidden;
    }

    body{
        position: relative;
    }

    .header{
        width: 100% !important;
    }

    .nav-bar-btn{
        display: inline-flex;
        margin-right: 8%;
        margin-top: 2%;
    }

    

    .navbar{
        display: none;
    }

    .hotline{
        display: none;
    }

    .header .nav{
        background-image: none;
    }

    .nav-input:checked ~ .nav-overlay{
        display: block;
    }
    
    .nav-input:checked ~ .nav-mobile{
        z-index: 1;
        display: block;
        transform: translateX(95%);
        opacity: 1;
    }
    
    .close-mb:checked ~ .nav-overlay{
        display: block;
    }
    
    .close-mb .nav-input:checked ~ .nav-mobile{
        display: block;
        transform: translateX(95%);
        opacity: 1;
    }

    .logo img{
        width: 150%;
    }

    @keyframes fadeIn {
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }

    .header .main-header{
        display: block !important;
        padding: 5px 0% !important;
        align-items: center !important;
        justify-content: space-around !important;
        align-items: center !important;
        margin-top: 31% !important;
    }

    .header .main-header .header-left{
        width: 83% !important;
    }

    .header-left h4{
        margin-right: auto !important;
        font-size: 15px;
    }

    .header-left h1{
        font-size: 65px !important;
    }

    .header-left h2{
        font-size: 55px !;
    }

    .header .main-header .header-right{
        width: 83% !important;
        padding: 0 !important;
        margin-top: -12%;
        margin-left: 10%;
    }

    .list{
        display: block;
        width: 110% !important;
    }

    .list .list-left{
        display: none;
    }

    .list .list-right{
        margin-left: 10% !important;
        width: 100% !important;
    }

    .list .list-right .third-txt{
        width: 100%;
        font-size: 13px;
        top: 11% !important;
        left: 10%;
    }

    .list .list-right .four-txt{
        width: 100%;
        font-size: 13px;
        top: 14% !important;
        left: 10%;
    }

    .list .list-right .fifth-txt{
        width: 100%;
        font-size: 13px;
        top: 53% !important;
        left: 10%;
    }

    .list .list-right .sixth-txt{
        width: 100%;
        font-size: 13px;
        top: 56% !important;
        left: 10%;
    }

    .menu{
        margin-left: 2% !important;
    }

    .menu h1{
        text-align: center;
        font-size: 22px;
    }

    .menu .box{
        width: 150px !important;
        height: 40px !important;
        padding: 0% !important;
        font-size: 13px;
    }

    .menu span{
        font-size: 12px;
        margin: 0 5%;
    }

    .container .menu .show-menu .item h2{
        font-size: 18px;
    }

    .show-menu{
        display: block !important;
        margin-left: -110% !important;
    }

    .show-menu #item2 {
        display: none;
    }

    .show-menu #item3 {
        display: none;
    }
    
    .show-menu #item1{
        width: 100% !important;
        margin-left: 55%;
    }

    .show-menu #item1 img{
        width: 80%;
        margin-left: 0%;
    }

    .slider{
        margin-left: 5% !important;
        flex-direction: column;
        width: 90% !important;
    }

    .slider .content p{
        display: none;
    }

    .slider .content h1{
        font-size: 25px;
    }

    .slider .content h1{
        font-size: 19px;
    }

    .slider .content{
        width: 100% !important;
    }
    
    .slider .slide{
        width: 100% !important;
        height: 100% !important;
    }

    .slider .slide .st img{
        margin: 0 20% 9% 14% !important;
        width: 472% !important;
        height: 181px !important;
    }

    .book .middle-form .form{
        display: block !important;
    }

    .book .middle-form{
        left: 35% !important;
    top: 14% !important;
    }

    .book .middle-form h1{
        text-align: center;
    }
    
    .book{
        height: 732px;
        margin-bottom: 0 !important;
    }

    .form .left-form{
        width: 100% !important;
    }

    .form input{
        margin: 8px 0 !important;
        text-align: center;
    }

    .container .book .left-img{
        margin-left: -69%;
    }

    .container .book .right-img{
        z-index: -1;
        right: 12%;
    }

    .footer{
        display: block;
        height: 250px;
        margin-left: 3%;
        width: 93%;
    }

    .footer .left-footer{
        width: 100%;
        padding-top: 20px;
    }
    

    .footer .left-footer img{
        width: 200px !important;
    }

    .footer .left-footer p{
        display: none;
    }

    .footer .left-footer h6{
        padding-top: 15%;
    }

    .footer .right-footer{
        width: 100%;
        margin-top: -53%;
        margin-left: 10px;
    }

    .footer .right-footer i{
        width: 98%;
    }

    .footer .right-footer i span{
        font-size: 14px;
    }

    .container .footer .right-footer .social-media{
        top: 111% !important;
        left: 1% !important;
    }

}

/* Tablet css */
@media only screen and (min-width: 426px) and (max-width: 768px) {

    html{
        overflow-x:hidden;
    }

    body{
        position: relative;
    }

    .header{
        width: 103% !important;
    }

    .nav-bar-btn{
        display: none;
    }


    .header .nav{
        background-image: none;
        padding-top: 40px !important;
    }

    .nav-pc .nav-bar{
        width: 117% !important;
        margin-top: -20px !important;
    }

    .logo img{
        width: 100%;
    }

    @keyframes fadeIn {
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }

    .header .main-header{
        padding: 30px 0% !important;
        align-items: center !important;
        justify-content: space-around !important;
        align-items: center !important;
        margin-top: 13% !important;

    }

    .header .main-header .header-left{
        width: 83% !important;
        padding: 30px 0 !important;
    }

    .header-left h4{
        margin-right: -40px !important;
        font-size: 15px;
    }

    .header-left h1{
        font-size: 65px !important;
    }

    .header-left h2{
        font-size: 55px !;
    }

    .header .main-header .header-right{
        width: 100% !important;
        padding: 0 !important;
        margin-top: -8%;
        margin-left: 10%;
    }

    .nav-mobile{
        right: 20% !important;
    }

    .nav-pc{
        width: 100% !important;
        margin-right: 40px !important;
    }

    .list{
        display: block;
        width: 110% !important;
    }

    .list .list-left{
        display: none;
    }

    .list .list-right{
        margin-left: 10% !important;
        width: 100% !important;
    }

    .list .list-right .third-txt{
        width: 100%;
        font-size: 22px;
        top: 8% !important;
        left: 10%;
    }

    .list .list-right .four-txt{
        width: 100%;
        font-size: 24px;
        top: 11% !important;
        left: 10%;
    }

    .list .list-right .fifth-txt{
        width: 100%;
        font-size: 22px;
        top: 56% !important;
        left: 10%;
    }

    .list .list-right .sixth-txt{
        width: 100%;
        font-size: 24px;
        top: 59% !important;
        left: 10%;
    }

    .menu{
        margin-left: 2% !important;
    }

    .menu h1{
        text-align: center;
        font-size: 28px;
    }

    .menu .box{
        width: 180px !important;
        height: 60px !important;
        padding: 1% !important;
        font-size: 16px;
    }

    .menu span{
        font-size: 15px;
        margin: 0 5%;
    }

    .container .menu .show-menu .item h2{
        font-size: 18px;
    }

    .show-menu{
        margin-left: -15% !important;
    }

    .show-menu #item3 {
        display: none;
    }

    .show-menu .item{
        width: 100% !important;
        margin-left: 55%;
    }

    .show-menu .item img{
        width: 80%;
        margin-left: -5% !important;
    }

    .slider{
        margin-left: 5% !important;
        flex-direction: column;
        width: 90% !important;
    }

    /* .slider .content p{
         display: none;
    } */

    .slider .content h1{
        font-size: 25px;
    }

    .slider .content h1{
        font-size: 19px;
    }

    .slider .content{
        width: 90% !important;
    }
    
    .slider .slide{
        width: 100% !important;
        height: 100% !important;
    }

    .slider .slide .st img{
        margin: 0 20% 9% 14% !important;
        width: 472% !important;
        height: 325px !important;
    }

    .book .middle-form .form{
        display: block !important;
    }

    .book .middle-form{
        left: 35% !important;
        top: 14% !important;
    }

    .book .middle-form h1{
        text-align: center;
    }
    
    .book{
        height: 800px;
        margin-bottom: 0 !important;
    }

    .form .left-form{
        width: 100% !important;
    }

    .form input{
        margin: 8px 0 !important;
        text-align: center;
    }

    .container .book .left-img{
        margin-left: -15%;
    }

    .container .book .right-img{
        z-index: -1;
        right: 5%;
    }

    .footer{
        width: 89%;
        margin-bottom: 4%;
    }

    .footer .left-footer img{
        width: 250px !important;
    }

    .footer .left-footer h6{
        padding-top: 2%;
        margin-top: 8%;
    }

    .footer .right-footer i{
        width: 88%;
    }

    .container .footer .right-footer .social-media{
        top: 227% !important;
        right: 10%;
    }

}